

.pokemon-area {
  width: 20rem;
  background: rgb(255, 255, 255);
  min-height: 15rem;
  border-radius: 10px;
  opacity: 0.4;
  box-shadow: rgba(77, 77, 77, 0.25) 0px 14px 28px, rgba(133, 133, 133, 0.22) 0px 10px 10px;
  transition: opacity 0.5s
}

.pokemon-area:hover {
    opacity: 1; /* Change opacity to 1 on hover to make it visible */
  }

.pokemon-area .pokemon-header{
    text-transform: capitalize;
     display: none;
  
}
.pokemon-area:hover .pokemon-header{
     display: flex;
 

}
.pokemon-area:hover img{
    display: none;

}